@import url("file:///home/glenn/.cache/wal/colors-waybar.css");

* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 13px;
}

window#waybar {
  background-color: @barBg;
  color: @barText;
}

/* Workspaces */
#workspaces button {
  color: @barText;
  padding: 0 10px;
  margin: 2px 4px;
  border-radius: 6px;
  transition: background-color 120ms ease, color 120ms ease;
}

#workspaces button:hover {
  background: @barHover;
}

#workspaces button.focused {
  background: transparent;
  box-shadow: inset 0 -3px 0 @barText;
}

#tray widget {
  margin: 0 6px;
}

#tray image {
  padding: 4px;
}

#tray widget:hover {
  background: rgba(255,255,255,0.1);
  border-radius: 6px;
}

*:hover {
    border-radius: 5px;
    transition: background 0.3s;
}

.modules-left > widget:first-child > * {
    margin-left: 15px;
}

.modules-right > widget:last-child > * {
    margin-right: 15px;
}

#custom-topmem {
  padding: 0 10px;
  color: @barText;
}

#custom-uptime {
  padding: 0 10px;
  color: @barText;
}

#custom-ip,
#custom-memory,
#clock,
#pulseaudio {
  padding: 0 10px;
  color: @barText;
}

