@import url("file:///home/glenn/.cache/wal/colors-waybar.css");

* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 13px;
}

window#waybar {
  background: @background;
  color: @foreground;
}

#workspaces button {
  color: @color7;
}

#workspaces button.focused {
  background: @color2;
  color: @background;
}

window#waybar {
  background-color: @barOpacity;
}

#waybar {
  color: @barText;
}

#tray widget {
  margin: 0 6px;
}

#tray image {
  padding: 4px;
}

#tray widget:hover {
  background: rgba(255,255,255,0.1);
  border-radius: 6px;
}

*:hover {
    border-radius: 5px;
    transition: background 0.3s;
}

.modules-left > widget:first-child > * {
    margin-left: 15px;
}

.modules-right > widget:last-child > * {
    margin-right: 15px;
}

#custom-ip,
#custom-memory,
#clock,
#pulseaudio {
  padding: 0 10px;
  color: @color4;
}

